<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<script src="angular/angular.js"></script>
	<script src="todo.js"></script>
	<title>Todo App</title>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
	<h4>My Todo App</h4>
	<h2>complete: {{test()}}  Total: {{todos.length}}</h2>
	<table border="1px solid black">
		<tr>
			<td>
				<input type="text" ng-model="name" placeholder="Enter name" />
			</td>
			
			<td>
				<input type="button" ng-click="addTodo()" value="Add Todo"/>
			</td>
		</tr>
		<tr >
			<td>Name</td>
			<td>Complate</td>
		
		</tr>
		<tr ng-repeat="todo in todos">
			
			<td>
				{{todo.name}}
			</td>
			<td>
				<input type="checkbox"  ng-model="todo.isComplate"/>
 			</td>
			
		</tr>
	</table>
</body>
</html>
